.profile-card{
    height:  auto;
    width:  400px;
    /* align-items: center; */
}

.user-header {
    font-size: large;
    font-weight: 600;
}

.demo-title{
    margin-bottom: 35px;
    margin-top: 20px;
}
    
.demo-form{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    width: 450px;
    height: 540px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.demo-button{
    padding: 0.5rem;
    margin-top: 30px;
    margin-left: 15px;
    color: black;
    background-color: #E7F0FE;
    border: 1px solid #ccdcf5 !important;
}

.close-button {
    padding: 0.5rem;
    margin-top: 30px;
    margin-left: 15px;
    color: black;
    background-color: #E7F0FE;
    border: 1px solid #ccdcf5 !important;
}


.user-welcome {
    /* margin: 0; */
    font-style: italic;
    font-size: 5em;
    color: lightgray;
    text-decoration: solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    /* flex-grow: 1; */
    padding: 0;
    margin: 0;
}

.user-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-gap: 20px; */
    height: auto;
    
    }

.user-name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-size: 3em;
    /* flex-grow: 2; */
}

/* .userImage {
    flex-grow: 1;
} */
.user-image {
    border-top-left-radius: 100px;
    /* flex-grow: 1; */
    object-fit: cover;
    padding-top: 20px;
    height: 40vw;
    width: 100%;
    padding-bottom: 20px;
}
