@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* .ahref, .ahref:visited {
    color: #fff;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.reg-section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.reg-input,
.reg-button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.reg-label,
.reg-button {
  margin-top: 1rem;
}

.reg-button {
  padding: 0.5rem;
} */

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.reg-button {
    padding: 0.5rem;
  }
  
  .reg-title{
      margin-bottom: 35px;
      margin-top: 20px;
    }
    
    .reg-form{
      border: 1px solid rgb(200, 200, 200);
      border-radius: 10px;
      width: 450px;
      height: 770px;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: auto;
      padding: 20px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .reg-button{
      margin-top: 30px;
      margin-left: 15px;
      color: black;
      background-color: #E7F0FE;
      border: 1px solid #ccdcf5 !important;
    }

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}